server:
  port: 8082

spring:
  application:
    name: divide-users-service
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://divideaidb.c1ioc2o6uc2v.us-east-2.rds.amazonaws.com:5432/divideaidb}
    username: ${DATABASE_USERNAME:divideai}
    password: ${DATABASE_PASSWORD:caloteiro123}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
      connection-timeout: 30000
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
  packages-to-scan: com.divide_ai.usergroup.controller